/******************************************************************/
/*=============== I. LOCAL FONTS =================================*/
/******************************************************************/

  /* ==================== (A) STAR JEDI ==================== */


@font-face {
  font-family: "Auberesh";
  src: url("fonts/Aurebesh Bold.otf")format("opentype");
}

@font-face {
  font-family: "Mons";
  src: url("fonts/MonsOlympiaBold-dq9x.ttf")format("truetype");
}

@font-face {
  font-family: "EarthOrbiter";
  src: url("fonts/EarthOrbiterBold-vzD9.otf")format("opentype");
}

@font-face {
  font-family: "KuiperBelt";
  src: url("fonts/KuiperBelt-Px0g.ttf")format("truetype");
}

@font-face {
  font-family: "DistantGalaxy";
  src: url("fonts/SfDistantGalaxy-0l3d.ttf") format("truetype");
}

@font-face {
	font-family: "Eras";
    src: url("fonts/ERASMD.TTF") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Eras";
    src: url("fonts/ERASBD.TTF") format("truetype");
	font-weight: Bold;
	font-style: normal;
}

@keyframes flicker {
  0% {
    opacity: 0.27861;
  }
  5% {
    opacity: 0.34769;
  }
  10% {
    opacity: 0.23604;
  }
  15% {
    opacity: 0.90626;
  }
  20% {
    opacity: 0.18128;
  }
  25% {
    opacity: 0.83891;
  }
  30% {
    opacity: 0.65583;
  }
  35% {
    opacity: 0.67807;
  }
  40% {
    opacity: 0.26559;
  }
  45% {
    opacity: 0.84693;
  }
  50% {
    opacity: 0.96019;
  }
  55% {
    opacity: 0.08594;
  }
  60% {
    opacity: 0.20313;
  }
  65% {
    opacity: 0.71988;
  }
  70% {
    opacity: 0.53455;
  }
  75% {
    opacity: 0.37288;
  }
  80% {
    opacity: 0.71428;
  }
  85% {
    opacity: 0.70419;
  }
  90% {
    opacity: 0.7003;
  }
  95% {
    opacity: 0.36108;
  }
  100% {
    opacity: 0.24387;
  }
}

@keyframes textShadow {
  0% {
    text-shadow: 0.4389924193300864px 0 1px rgba(0,30,255,0.5), -0.4389924193300864px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  5% {
    text-shadow: 2.7928974010788217px 0 1px rgba(0,30,255,0.5), -2.7928974010788217px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  10% {
    text-shadow: 0.02956275843481219px 0 1px rgba(0,30,255,0.5), -0.02956275843481219px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  15% {
    text-shadow: 0.40218538552878136px 0 1px rgba(0,30,255,0.5), -0.40218538552878136px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  20% {
    text-shadow: 3.4794037899852017px 0 1px rgba(0,30,255,0.5), -3.4794037899852017px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  25% {
    text-shadow: 1.6125630401149584px 0 1px rgba(0,30,255,0.5), -1.6125630401149584px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  30% {
    text-shadow: 0.7015590085143956px 0 1px rgba(0,30,255,0.5), -0.7015590085143956px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  35% {
    text-shadow: 3.896914047650351px 0 1px rgba(0,30,255,0.5), -3.896914047650351px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  40% {
    text-shadow: 3.870905614848819px 0 1px rgba(0,30,255,0.5), -3.870905614848819px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  45% {
    text-shadow: 2.231056963361899px 0 1px rgba(0,30,255,0.5), -2.231056963361899px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  50% {
    text-shadow: 0.08084290417898504px 0 1px rgba(0,30,255,0.5), -0.08084290417898504px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  55% {
    text-shadow: 2.3758461067427543px 0 1px rgba(0,30,255,0.5), -2.3758461067427543px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  60% {
    text-shadow: 2.202193051050636px 0 1px rgba(0,30,255,0.5), -2.202193051050636px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  65% {
    text-shadow: 2.8638780614874975px 0 1px rgba(0,30,255,0.5), -2.8638780614874975px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  70% {
    text-shadow: 0.48874025155497314px 0 1px rgba(0,30,255,0.5), -0.48874025155497314px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  75% {
    text-shadow: 1.8948491305757957px 0 1px rgba(0,30,255,0.5), -1.8948491305757957px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  80% {
    text-shadow: 0.0833037308038857px 0 1px rgba(0,30,255,0.5), -0.0833037308038857px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  85% {
    text-shadow: 0.09769827255241735px 0 1px rgba(0,30,255,0.5), -0.09769827255241735px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  90% {
    text-shadow: 3.443339761481782px 0 1px rgba(0,30,255,0.5), -3.443339761481782px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  95% {
    text-shadow: 2.1841838852799786px 0 1px rgba(0,30,255,0.5), -2.1841838852799786px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  100% {
    text-shadow: 2.6208764473832513px 0 1px rgba(0,30,255,0.5), -2.6208764473832513px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
}

@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

/******************************************************************/
/*=============== FFG Enhancement MOD ============================*/
/******************************************************************/

@font-face {
    font-family: Temporarium;
    src: url("/modules/ffg-star-wars-enhancements/fonts/Temporarium.otf");
}
@font-face {
    font-family: AurekBesh;
    src: url("/modules/ffg-star-wars-enhancements/fonts/Aurek-Besh.woff2");
}
@font-face {
    font-family: AnakinMono;
    src: url("/modules/ffg-star-wars-enhancements/fonts/anakinmono.ttf");
}

@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

body.vtt.game.screen-door::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    z-index: 999;
    background-size: 100% 2px, 3px 100%;
    pointer-events: none;
  }
  
  body.vtt.game.flickering::after {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(18, 16, 16, 0.1);
    opacity: 0;
    z-index: 999;
    pointer-events: none;
    animation: flicker 0.5s infinite;
  }
  
@keyframes scanline {
    0% {
      bottom: 100%;
    }
    80% {
      bottom: 100%;
    }
    100% {
      bottom: 0%;
    }
  }
  
.scanline{
	
    width: 100%;
    height: 150px;
    z-index: 999;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 0.2) 10%, rgba(0, 0, 0, 0.1) 100%);
    opacity: 0.2;
    position: absolute;
    bottom: 100%;
    animation: scanline 10s linear infinite;
    pointer-events: none;

}

#client-settings.app.window-app.form 
#config-tabs .settings-list div.form-group input[type="checkbox"] {
    height: 18px;
}

#navigation #scene-list .scene span {
    font-family: auberesh;
    font-size: xx-small;
    margin: -10px 0 0 0;
    display: var(--application-auberesh-title);
    animation: textShadow 1.6s infinite;
}
/*#scenes .scene h3 {
    line-height: 45px;
}*/

#scenes .scene h3 span {
    font-size: medium;
    font-family: 'Auberesh';
	display:none;
}

section.swffgui {
    /*display: flex;*/
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    max-height: 24px;
    flex-direction: column;
	display: var(--application-auberesh-sidebar-title);
}

h3.auberesh {
    font-family: 'Auberesh';
	display: var(--application-auberesh-title);
}

.swffgui h3 {
    flex: 0 100%;
    margin: 3px;
    text-align: center;
	display: var(--application-auberesh-title);
}
.ffg-star-wars-enhancements-opening-crawl .titles > div .episode {
    margin-bottom: -2em;
    font-size: 150%;
}

.ffg-star-wars-enhancements-opening-crawl .titles > div .text p {
    font-size: 100%;
}

.swdatapad {
    background-image: url(/modules/ffg-star-wars-enhancements/artwork/datapad-template-700w.png) !important;
    background-repeat: no-repeat !important;
    width: 700px;
    min-height: 1000px;
    display: block;
    padding: 75px 50px !important;
    color: #d0faff !important;
    font-size: 18px;
    font-family: Temporarium !important;
}

.swdatapad table {
    font-size: 12px
}
.swdatapad p {
    color: #d0faff !important;
    font-size: 18px;
    font-family: Temporarium !important;
}

.swdatapad-wanted .credits {
    font-family: AubekBesh;
}

.swdatapad-wanted {
    background-image: url(/modules/ffg-star-wars-enhancements/artwork/datapad-template-wanted-700w.png) !important;
    background-repeat: no-repeat !important;
    width: 700px;
    min-height: 1000px;
    display: block;
    padding: 65px 65px !important;
    color: #d0faff !important;
    font-size: 18px;
    font-family: Temporarium !important;
    color: #02e3dd !important;
}

.swdatapad-wanted h1 {
    font-family: AurekBesh !important;
    width: 100%;
    text-align: center !important;
    margin-bottom: 0.5em !important;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    border-bottom: 2px solid #02e3dd !important;
    border-top: 2px solid #02e3dd !important;
}

.swdatapad-wanted>* {
    color: transparent !important;
    background-color: #02e3dd;
    background-clip: text !important;
    -webkit-background-clip: text !important;
    background-image: repeating-linear-gradient( to bottom, #02e3dd, #02e3dd 2px, #01bbb7 2px, #01bbb7 4px ) !important;
}

.swdatapad-wanted h2 {
	font-family: AnakinMono !important;
    margin-bottom: 0.5em !important;
    padding-bottom: 0.25em;
    border-bottom: 2px solid #02e3dd !important;
}

.swdatapad-wanted h3 {
    margin-right: 0.5em !important;
    font-family: AnakinMono !important;
    font-weight: bold !important;
    font-size: 16px !important;
}

.swdatapad-wanted p {
    font-size: 14px;
    margin-bottom: 1em;
}

.swdatapad-wanted table {
    font-size: 14px;
    border-bottom: 2px solid #02e3dd;
    border-top: 2px solid #02e3dd;
}

.swdatapad-wanted tr:first-child>* {
    padding-top: 1em;
}
.swdatapad-wanted tr:last-child>* {
    padding-bottom: 1em;
}
.swdatapad-wanted table tr:nth-child(2n) {
    background-color: inherit;
}
.swdatapad-wanted table td, .swdatapad-wanted table th {
    padding: 0.2em 0;
    line-height: 1.5em;
    text-align: left;
    vertical-align: top;
}

/* Float images and tint them with the stripe effect */
.swdatapad-wanted .image-float {
    float: right;
    border-left: solid 10px #000000;
    filter: sepia(100%) saturate(300%) brightness(60%) hue-rotate(130deg);
}
.swdatapad-wanted .image-float:after {
    content:'';
    position:absolute;
    left:0; top:0;
    width:100%; height:100%;
    display:inline-block;
    background-image: repeating-linear-gradient(
        to bottom,
        rgba(2,227,221,0.25),
        rgba(2,227,221,0.35) 2px,
        rgba(1,187,183,0.55) 2px,
        rgba(1,187,183,0.55) 4px
    );
}

table.vendor_item {
	display: table !important;
}
/******************************************************************/
/******************************************************************/

:root {
  /* =================== 1. ACTOR SHEET FONT STYLES =========== */
	--character-sheet-name-auberesh:Auberesh;
	--application-auberesh-title: none;
	--application-auberesh-sidebar-title: none;
	
	--major-button-font-size: 16px;
	--major-button-font-family: Eras;
}
body{
	font-family: var(--major-button-font-family), sans-serif;
	font-size: var(--major-button-font-size);
}
button {
	background: #dcd4c2;
    font-family: var(--major-button-font-family), sans-serif;
	font-size: var(--major-button-font-size);
}

/*.starwarsffg.sheet.actor .tabs {
    height: 45px;
}*/
.starwarsffg.sheet nav.sheet-tabs {
    padding: 0;
}
.sheet nav.sheet-tabs {
.window-app .window-content {
    background: #dcd4c2;
    font-size: 9pt;
	font-family: var(--major-button-font-family), sans-serif;
	font-size: var(--major-button-font-size);
}

.window-app .window-header .window-title {
    font-family: "DistantGalaxy", sans-serif;
}
/* ==================== XIV. STAR WARS FFG SPECIFIC ==================== */
.starwarsffg .charname input {
    color: #771113;
    font-family: "DistantGalaxy", sans-serif;
}

.starwarsffg .vehicle .grid-3col {
    /* grid-column: span 3/ span 3; */
    /* grid-template-columns: repeat(3, minmax(0, 1fr)); */
    grid-gap: 10px;
    grid-column-gap: 25px;
    margin-right: 50px;
    margin-left: 50px;
}

.starwarsffg .skill-name {
    font-size: var(--major-button-font-size) !important;
}

.starwarsffg .skillsGrid .skillTable .skillsHeader div {
    font-size: var(--major-button-font-size) !important;
}

.starwarsffg .header-fields .row div {
    color: #512326 !important;
}
.starwarsffg .character .characteristics .characteristic-item {
	background: url(ui/frames/caracteristics-background.png) no-repeat;
	background-size:100% 100%;
	background-color: #ffffff00;
}

.starwarsffg .item-sheet-species .characteristic {
    background: #eee8d9;
}

.starwarsffg .vehicle .characteristics .characteristic-item {
	background: url(ui/frames/vehicles-caracteristics-background.png) no-repeat;
	background-size:100% 100%;
	background-color: #ffffff00;
}

.starwarsffg.sheet.actor .character .characteristic-item .characteristic-label {
    background-color: #ffffff00;
}

.starwarsffg.sheet.actor .vehicle .characteristic-item .characteristic-label {
    background-color: #ffffff00 !important;
	margin-top: 10px;
}

/*--character-sheet-name-auberesh*/
.starwarsffg.sheet.actor .character .header-fields .profile-block .auberesh-name {
	font-family: var(--character-sheet-name-auberesh);
    text-shadow: 0px 1px 10px #ffffff;
    color: #ffffff;
    text-align: center;
    font-size: auto;
    position: absolute;
    width: 125px;
    z-index: 40;
    /* bottom: 78px; */
	top:108px;
    /* background: url(../ui/frames/auberesh-name-background.png) no-repeat; */
    /* background-size: 100% 100%; */
    padding-top: 2px;
	--notchSize: 6px;
	-webkit-clip-path: polygon(0% var(--notchSize), var(--notchSize) 0%, calc(100% - var(--notchSize)) 0%, 100% var(--notchSize), 100% calc(100% - var(--notchSize)), calc(100% - var(--notchSize)) 100%, var(--notchSize) 100%, 0% calc(100% - var(--notchSize)));
    clip-path: polygon(0% var(--notchSize), var(--notchSize) 0%, calc(100% - var(--notchSize)) 0%, 100% var(--notchSize), 100% calc(100% - var(--notchSize)), calc(100% - var(--notchSize)) 100%, var(--notchSize) 100%, 0% calc(100% - var(--notchSize)));
	background-color: #771113;
}

.starwarsffg.sheet.actor .vehicle .header-fields .profile-block .auberesh-name {
	font-family: var(--character-sheet-name-auberesh);
    text-shadow: 0px 1px 10px #ffffff;
    color: #ffffff;
    text-align: center;
    font-size: x-large;
    position: absolute;
	--rightNotchSize: 10px;
    width: calc(100% - var(--rightNotchSize));
    z-index: 40;
    bottom: 5px;
    /* background: url(../ui/frames/auberesh-name-background.png) no-repeat; */
    /* background-size: 100% 100%; */
    padding-top: 2px;
	--notchSize: 6px;
	-webkit-clip-path: polygon(0% var(--notchSize), var(--notchSize) 0%, calc(100% - var(--notchSize)) 0%, 100% var(--notchSize), 100% calc(100% - var(--notchSize)), calc(100% - var(--notchSize)) 100%, var(--notchSize) 100%, 0% calc(100% - var(--notchSize)));
    clip-path: polygon(0% var(--notchSize), var(--notchSize) 0%, calc(100% - var(--notchSize)) 0%, 100% var(--notchSize), 100% calc(100% - var(--notchSize)), calc(100% - var(--notchSize)) 100%, var(--notchSize) 100%, 0% calc(100% - var(--notchSize)));
	background-color: #00304f;
}

.starwarsffg.sheet.actor .minion .header-fields .profile-block .auberesh-name {
	font-family: var(--character-sheet-name-auberesh);
    /* text-shadow: 0px 1px 10px #ffffff; */
    color: #ffffff;
    text-align: center;
    font-size: small;
    position: absolute;
    width: 115px;
    z-index: 40;
    top: 98px;
    padding-top: 5px;
	--notchSize: 6px;
	-webkit-clip-path: polygon(0% var(--notchSize), var(--notchSize) 0%, calc(100% - var(--notchSize)) 0%, 100% var(--notchSize), 100% calc(100% - var(--notchSize)), calc(100% - var(--notchSize)) 100%, var(--notchSize) 100%, 0% calc(100% - var(--notchSize)));
    clip-path: polygon(0% var(--notchSize), var(--notchSize) 0%, calc(100% - var(--notchSize)) 0%, 100% var(--notchSize), 100% calc(100% - var(--notchSize)), calc(100% - var(--notchSize)) 100%, var(--notchSize) 100%, 0% calc(100% - var(--notchSize)));
	background-color: #84725e;
	max-height: 36px;
	max-width:130px;
	/* top:102px; */
}

.starwarsffg.sheet.actor .character .header-fields .profile-block {
    min-width: 125px;
}

.starwarsffg.sheet.actor .character .header-fields .profile-img {
    display: block;
}
.starwarsffg .minion .profile-block {
    min-width: 125px;
}
.starwarsffg .minion .profile-img {
    display: block;
}


.starwarsffg .item-sheet-species .characteristics .characteristic-item .characteristic-label {
    position: relative;
    background-color: #ffffff00 !important;
	/* bottom:2px; */
	padding: 12px 0px 0px 0px;
}

.starwarsffg .characteristics .characteristic-item {
   background: url(ui/frames/caracteristics-background.png) no-repeat;
	background-size:100% 100%;
	background-color: #ffffff00 !important;
}

.starwarsffg.sheet.actor .character .header-fields .header-name input {
	font-family: 'DistantGalaxy';
	color:#771113;
}

.starwarsffg .characteristic-item .characteristic {
    background: #f9f1df;
}

.starwarsffg.sheet.actor .characteristic-item .characteristic {
    background: #f9f1df;
}

.starwarsffg.sheet.actor .vehicle .characteristic-item .characteristic {
    background: whitesmoke;
}

#sidebar {
    background: url(default-ui/sidebar.png) !important;
    background-position-y: 45px !important;
}

#hotbar #macro-list {
    flex: 0 0 503px;
}

#pause > h3
{
  color: #CCC;
  font-family:Auberesh;
}

#pause > h3 span
{
  font-family: 'DistantGalaxy';
}

#pause > img {
  content: url(default-ui/pause-icon.png);
  height: 128px;
  width: 128px;
  left: calc(50% - 64px);
}

#tooltip-manager .window-content {
    /* background: url(../ui/parchment.jpg); */
    padding: 0px 10px 10px 10px;
    margin: 0px;
}

#tooltip-editor-default .window-content {
    /* background: url(../ui/parchment.jpg); */
    padding: 0px 10px 10px 10px;
    margin: 0px;
}

#tooltip-editor-default .window-content .notes {
    /* color: #66141a; */
    font-family: var(--actor-input-font-family);
    font-size: var(--actor-input-font-size);
    font-weight: var(--actor-input-font-weight);
}

#tooltip-editor-default .tabs .item {
    color: whitesmoke;
}

.token-tooltip-alt-tooltip-container {
  border: 4px solid white !important;
  border-radius: 8px;
}

.token-tooltip-alt-data-manager-window .data-manager {
  font-family: var(--major-button-font-family);
}

.token-tooltip-alt-advanced-editor-window .advanced-editor {
  font-family: var(--major-button-font-family);
}
.token-tooltip-alt-tooltip-container.default .token-tooltip-alt-tooltip-item.title {
  border-bottom: 3px solid white !important;
}