/******************************************************************/
/*=============== I. LOCAL FONTS =================================*/
/******************************************************************/

  /* ==================== (A) STAR JEDI ==================== */


@font-face {
  font-family: "Auberesh";
  src: url("../fonts/Aurebesh Bold.otf")format("opentype");
}

@font-face {
  font-family: "Mons";
  src: url("../fonts/MonsOlympiaBold-dq9x.ttf")format("truetype");
}

@font-face {
  font-family: "EarthOrbiter";
  src: url("../fonts/EarthOrbiterBold-vzD9.otf")format("opentype");
}

@font-face {
  font-family: "KuiperBelt";
  src: url("../fonts/KuiperBelt-Px0g.ttf")format("truetype");
}

@font-face {
  font-family: "DistantGalaxy";
  src: url("../fonts/SfDistantGalaxy-0l3d.ttf") format("truetype");
}

@font-face {
	font-family: "Eras";
    src: url("../fonts/ERASMD.TTF") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Eras";
    src: url("../fonts/ERASBD.TTF") format("truetype");
	font-weight: Bold;
	font-style: normal;
}

/******************************************************************/
/*=============== FFG Enhancement MOD ============================*/
/******************************************************************/

@font-face {
    font-family: Temporarium;
    src: url("/modules/ffg-star-wars-enhancements/fonts/Temporarium.otf");
}
@font-face {
    font-family: AurekBesh;
    src: url("/modules/ffg-star-wars-enhancements/fonts/Aurek-Besh.woff2");
}
@font-face {
    font-family: AnakinMono;
    src: url("/modules/ffg-star-wars-enhancements/fonts/anakinmono.ttf");
}

@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

.ffg-star-wars-enhancements-opening-crawl .titles > div .episode {
    margin-bottom: -2em;
    font-size: 150%;
}

.ffg-star-wars-enhancements-opening-crawl .titles > div .text p {
    font-size: 100%;
}

.swdatapad {
    background-image: url(/modules/ffg-star-wars-enhancements/artwork/datapad-template-700w.png) !important;
    background-repeat: no-repeat !important;
    width: 700px;
    min-height: 1000px;
    display: block;
    padding: 75px 50px !important;
    color: #d0faff !important;
    font-size: 18px;
    font-family: Temporarium !important;
}

.swdatapad table {
    font-size: 12px
}
.swdatapad p {
    color: #d0faff !important;
    font-size: 18px;
    font-family: Temporarium !important;
}

.swdatapad-wanted .credits {
    font-family: AurekBesh;
}

.swdatapad-wanted {
    background-image: url(/modules/ffg-star-wars-enhancements/artwork/datapad-template-wanted-700w.png) !important;
    background-repeat: no-repeat !important;
    width: 700px;
    min-height: 1000px;
    display: block;
    padding: 65px 65px !important;
    color: #d0faff !important;
    font-size: 18px;
    font-family: Temporarium !important;
    color: #02e3dd !important;
}

.swdatapad-wanted h1 {
    font-family: AurekBesh !important;
    width: 100%;
    text-align: center !important;
    margin-bottom: 0.5em !important;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    border-bottom: 2px solid #02e3dd !important;
    border-top: 2px solid #02e3dd !important;
}

.swdatapad-wanted>* {
    color: transparent !important;
    background-color: #02e3dd;
    background-clip: text !important;
    -webkit-background-clip: text !important;
    background-image: repeating-linear-gradient( to bottom, #02e3dd, #02e3dd 2px, #01bbb7 2px, #01bbb7 4px ) !important;
}

.swdatapad-wanted h2 {
	font-family: AnakinMono !important;
    margin-bottom: 0.5em !important;
    padding-bottom: 0.25em;
    border-bottom: 2px solid #02e3dd !important;
}

.swdatapad-wanted h3 {
    margin-right: 0.5em !important;
    font-family: AnakinMono !important;
    font-weight: bold !important;
    font-size: 16px !important;
}

.swdatapad-wanted p {
    font-size: 14px;
    margin-bottom: 1em;
}

.swdatapad-wanted table {
    font-size: 14px;
    border-bottom: 2px solid #02e3dd;
    border-top: 2px solid #02e3dd;
}

.swdatapad-wanted tr:first-child>* {
    padding-top: 1em;
}
.swdatapad-wanted tr:last-child>* {
    padding-bottom: 1em;
}
.swdatapad-wanted table tr:nth-child(2n) {
    background-color: inherit;
}
.swdatapad-wanted table td, .swdatapad-wanted table th {
    padding: 0.2em 0;
    line-height: 1.5em;
    text-align: left;
    vertical-align: top;
}

/* Float images and tint them with the stripe effect */
.swdatapad-wanted .image-float {
    float: right;
    border-left: solid 10px #000000;
    filter: sepia(100%) saturate(300%) brightness(60%) hue-rotate(130deg);
}
.swdatapad-wanted .image-float:after {
    content:'';
    position:absolute;
    left:0; top:0;
    width:100%; height:100%;
    display:inline-block;
    background-image: repeating-linear-gradient(
        to bottom,
        rgba(2,227,221,0.25),
        rgba(2,227,221,0.35) 2px,
        rgba(1,187,183,0.55) 2px,
        rgba(1,187,183,0.55) 4px
    );
}
/******************************************************************/
/******************************************************************/

:root {
  /* =================== 1. ACTOR SHEET FONT STYLES =========== */
	--character-sheet-name-auberesh:Auberesh;
	
	--major-button-font-size: 16px;
	--major-button-font-family: Eras;
}
body{
	font-family: var(--major-button-font-family), sans-serif;
	font-size: var(--major-button-font-size);
}
button {
	background: #6f6f6f !important;
    font-family: var(--major-button-font-family), sans-serif;
    font-size: var(--major-button-font-size);
    color: white;
    border-color: white;
    border-width: medium;
}

button:hover, button:focus {
    outline: none;
    box-shadow: 0 0 5px white;
}

h2 {
    border-bottom: 5px solid white;
}

.app {
    max-height: 100%;
    background: url(../ui/denim075.png) repeat;
    border-radius: 5px;
    box-shadow: 0 0 20px #000;
    margin: 3px 0;
    padding: 0.5em;
    color: white;
    z-index: 30;
}

table.vendor_item {
	display: table !important;
}

.fa, .fab, .fad, .fal, .far, .fas {
    color: white;
}

#settings h2 {
    margin: 6px 0;
    padding: 3px 8px;
    border-top: 1px solid #444;
    border-bottom: 1px solid #444;
    background: rgba(255, 255, 255, 0.1);
    font-size: 16px;
    text-align: right;
    color: white;
}

#settings h4 {
    text-align: right;
	color: white;
}

#client-settings section.content {
    border-top: 1px solid white;
    border-block-width: 3px;
}

form button {
    background: #6f6f6f !important;
    border: 2px groove #f0f0e0;
}

input[type="text"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="time"]:focus {
    box-shadow: 0 0 5px white;
}

input[type="text"], input[type="number"], input[type="password"], input[type="date"], input[type="time"] {
    color: white;
}

textarea {
    border: 1px solid #fff;
    color: white;
}

textarea:focus {
    box-shadow: 0 0 5px white;
}

select {
	color:white;
	background: #000000e8;
}

select:focus {
    box-shadow: 0 0 5px white;
}

.window-app {
    font-family: var(--major-button-font-family), sans-serif;
}
.window-app .window-content {
	font-family: var(--major-button-font-family), sans-serif;
	font-size: var(--major-button-font-size) !important;
	background: #00000099 !important;
	color:white;
    border: 3px solid #b7b7b7;
}

.window-app .window-header .window-title {
    font-family: "DistantGalaxy", sans-serif;
}

::-webkit-scrollbar-thumb {
    outline: none;
    border-radius: 3px;
    background: whitesmoke;
    border: 1px solid white;
}

.directory .action-buttons button {
    font-size: revert;
}

#tinymce .mce-content-body body{
    color: white !important;
}
/* ==================== XIV. STAR WARS FFG SPECIFIC ==================== */
.starwarsffg .charname input {
    color: #white;
    font-family: "DistantGalaxy", sans-serif;
}

.starwarsffg .vehicle .grid-3col {
    /* grid-column: span 3/ span 3; */
    /* grid-template-columns: repeat(3, minmax(0, 1fr)); */
    grid-gap: 10px;
    grid-column-gap: 25px;
    margin-right: 50px;
    margin-left: 50px;
}

.starwarsffg .skill-name {
    font-size: var(--major-button-font-size) !important;
}

.starwarsffg .skillsGrid .skillTable .skillsHeader div {
    font-size: var(--major-button-font-size) !important;
}

.starwarsffg .header-fields .row div {
    color: cyan !important;
}

.starwarsffg .container input[type="text"], 
.starwarsffg .container input[type="number"],
.starwarsffg .container input[type="password"],
.starwarsffg .container input[type="date"],
.starwarsffg .container input[type="time"] {
    color: black !important;
	background: white !important;
}

.starwarsffg.sheet.actor .vehicle .header-fields .container.flex-group-center {
    background: black;
    border-radius: 5px
}
/*.starwarsffg.sheet .sheet-body .tab{
	color:black;
}*/

.starwarsffg .sheet .editor-content{
	color:white;
}

.starwarsffg .attribute,
.starwarsffg .attribute .block-attribute,
.starwarsffg .attribute .block-value.block-single input {
	color:black;
}

.starwarsffg.sheet.actor .character .sheet-body .general .resource.full table,
.starwarsffg.sheet.actor .character .sheet-body .general .resource.full table input,
.starwarsffg.sheet.actor .character .sheet-body .obligation .resource.full table input,
.starwarsffg.sheet.actor .character .sheet-body table textarea {
    color:black;
}

.starwarsffg.sheet .sheet-body .tab .fa,
.starwarsffg.sheet .sheet-body .tab .fab,
.starwarsffg.sheet .sheet-body .tab .fad,
.starwarsffg.sheet .sheet-body .tab .fal,
.starwarsffg.sheet .sheet-body .tab .far,
.starwarsffg.sheet .sheet-body .tab .fas {
    color: black;
}

.starwarsffg.sheet .sheet-body .tab .items .fa,
.starwarsffg.sheet .sheet-body .tab .items .fab,
.starwarsffg.sheet .sheet-body .tab .items .fad,
.starwarsffg.sheet .sheet-body .tab .items .fal,
.starwarsffg.sheet .sheet-body .tab .items .far,
.starwarsffg.sheet .sheet-body .tab .items .fas,
.starwarsffg.sheet .sheet-body .tab .item-controls .fa,
.starwarsffg.sheet .sheet-body .tab .item-controls .fab,
.starwarsffg.sheet .sheet-body .tab .item-controls .fad,
.starwarsffg.sheet .sheet-body .tab .item-controls .fal,
.starwarsffg.sheet .sheet-body .tab .item-controls .far,
.starwarsffg.sheet .sheet-body .tab .item-controls .fas {
    color: white;
}
.starwarsffg .characteristic .characteristic-value input {
	color:black;
}
.starwarsffg .character .characteristics .characteristic-item {
	background: url(../ui/frames/caracteristics-background.png) no-repeat;
	background-size:100% 100%;
	background-color: #ffffff00;
}

.starwarsffg .item-sheet-species .characteristic {
    background: #eee8d9;
}

.starwarsffg .vehicle .characteristics .characteristic-item {
	background: url(../ui/frames/vehicles-caracteristics-background.png) no-repeat;
	background-size:100% 100%;
	background-color: #ffffff00;
}

.starwarsffg.sheet.actor .character .characteristic-item .characteristic-label {
    background-color: #ffffff00;
}

.starwarsffg.sheet.actor .vehicle .characteristic-item .characteristic-label {
    background-color: #ffffff00 !important;
	margin-top: 10px;
}

/*--character-sheet-name-auberesh*/
.starwarsffg.sheet.actor .character .header-fields .profile-block .auberesh-name {
	font-family: var(--character-sheet-name-auberesh);
    text-shadow: 0px 1px 10px #ffffff;
    color: #ffffff;
    text-align: center;
    font-size: auto;
    position: absolute;
    width: 125px;
    z-index: 40;
    /* bottom: 78px; */
	top:108px;
    /* background: url(../ui/frames/auberesh-name-background.png) no-repeat; */
    /* background-size: 100% 100%; */
    padding-top: 2px;
	--notchSize: 6px;
	-webkit-clip-path: polygon(0% var(--notchSize), var(--notchSize) 0%, calc(100% - var(--notchSize)) 0%, 100% var(--notchSize), 100% calc(100% - var(--notchSize)), calc(100% - var(--notchSize)) 100%, var(--notchSize) 100%, 0% calc(100% - var(--notchSize)));
    clip-path: polygon(0% var(--notchSize), var(--notchSize) 0%, calc(100% - var(--notchSize)) 0%, 100% var(--notchSize), 100% calc(100% - var(--notchSize)), calc(100% - var(--notchSize)) 100%, var(--notchSize) 100%, 0% calc(100% - var(--notchSize)));
	background-color: #white;
}

.starwarsffg.sheet.actor .vehicle .header-fields .profile-block .auberesh-name {
	font-family: var(--character-sheet-name-auberesh);
    text-shadow: 0px 1px 10px #ffffff;
    color: #ffffff;
    text-align: center;
    font-size: x-large;
    position: absolute;
	--rightNotchSize: 10px;
    width: calc(100% - var(--rightNotchSize));
    z-index: 40;
    bottom: 5px;
    /* background: url(../ui/frames/auberesh-name-background.png) no-repeat; */
    /* background-size: 100% 100%; */
    padding-top: 2px;
	--notchSize: 6px;
	-webkit-clip-path: polygon(0% var(--notchSize), var(--notchSize) 0%, calc(100% - var(--notchSize)) 0%, 100% var(--notchSize), 100% calc(100% - var(--notchSize)), calc(100% - var(--notchSize)) 100%, var(--notchSize) 100%, 0% calc(100% - var(--notchSize)));
    clip-path: polygon(0% var(--notchSize), var(--notchSize) 0%, calc(100% - var(--notchSize)) 0%, 100% var(--notchSize), 100% calc(100% - var(--notchSize)), calc(100% - var(--notchSize)) 100%, var(--notchSize) 100%, 0% calc(100% - var(--notchSize)));
	background-color: #00304f;
}

.starwarsffg.sheet.actor .minion .header-fields .profile-block .auberesh-name {
	font-family: var(--character-sheet-name-auberesh);
    /* text-shadow: 0px 1px 10px #ffffff; */
    color: #ffffff;
    text-align: center;
    font-size: small;
    position: absolute;
    width: 115px;
    z-index: 40;
    top: 98px;
    padding-top: 5px;
	--notchSize: 6px;
	-webkit-clip-path: polygon(0% var(--notchSize), var(--notchSize) 0%, calc(100% - var(--notchSize)) 0%, 100% var(--notchSize), 100% calc(100% - var(--notchSize)), calc(100% - var(--notchSize)) 100%, var(--notchSize) 100%, 0% calc(100% - var(--notchSize)));
    clip-path: polygon(0% var(--notchSize), var(--notchSize) 0%, calc(100% - var(--notchSize)) 0%, 100% var(--notchSize), 100% calc(100% - var(--notchSize)), calc(100% - var(--notchSize)) 100%, var(--notchSize) 100%, 0% calc(100% - var(--notchSize)));
	background-color: #84725e;
	max-height: 36px;
	max-width:130px;
	/* top:102px; */
}

.starwarsffg.sheet.actor .character .header-fields .profile-block {
    min-width: 125px;
}

.starwarsffg.sheet.actor .character .header-fields .profile-img {
    display: block;
	background: black;
    border: white !important;
    border-radius: 5px;
}

.starwarsffg .talent-background .talent-header div input[type="checkbox"] {
    height: 10px !important;
    width: 16px !important;
}
.starwarsffg .talent-background {
    background-color: black !important;
	border: 3px solid white;
    border-radius: 7px;
}

.starwarsffg .talent-background .talent-header div {
    color: #f8ffc3 !important;
}
.starwarsffg .burst-8 {
	left:5px !important;
    background: rgb(253 199 76) !important;
}

.starwarsffg .burst-8:before {
    background: rgb(253 199 76) !important;

}

.starwarsffg .talent-connector .talent-connector-up, .starwarsffg .talent-connector .talent-connector-side {
    background-color: white;
}

.starwarsffg.sheet.actor .vehicle .header-fields .block-background.defense-group, .starwarsffg.sheet.actor .vehicle .header-fields .block-background.vehicle-img {
    background: rgb(255 255 255) !important;
}
/*.starwarsffg.sheet.item.v2 .tabs .item.active,
.starwarsffg.sheet.actor.v2 .tabs .item.active,
.starwarsffg.v2 .tabs .item.active {
  margin-right: 0px;
  flex:0 0 2.5rem;
  background-size: contain !important;
}

.starwarsffg.sheet.actor.v2 .tabs .item {
  line-height: normal;
  color:#66141a;
  margin: 0px;
  text-shadow: 0 0 black;
  height: 35px;
}

.starwarsffg.sheet.actor.v2 .tabs .item.active {
  flex: inherit;
  height:36px;
  color:red ;
}

.starwarsffg.sheet select:hover{
	background: url(../ui/frames/parchment-texture.png) repeat;	
}

.starwarsffg.sheet.item.v2 .sheet-body {
  margin: 0px 5px;
}

.starwarsffg.sheet.item.v2 .tabs .item {
  line-height: normal;
  color: #66141a;
}

.starwarsffg.sheet.item.v2 .tabs .item.active {
  color: #6d0000;
  text-shadow: 1px 1px 5px red;
}*/

.starwarsffg .minion .profile-block {
    min-width: 125px;
}
.starwarsffg .minion .profile-img {
    display: block;
}


.starwarsffg .item-sheet-species .characteristics .characteristic-item .characteristic-label {
    position: relative;
    background-color: #ffffff00 !important;
	/* bottom:2px; */
	padding: 12px 0px 0px 0px;
}

.starwarsffg .characteristics .characteristic-item {
   background: url(../ui/frames/caracteristics-background.png) no-repeat;
	background-size:100% 100%;
	background-color: #ffffff00 !important;
}

.starwarsffg.sheet.actor .character .header-fields .header-name input {
	font-family: 'DistantGalaxy';
	color:white;
}

.starwarsffg .characteristic-item .characteristic {
    background: #f9f1df;
}

.starwarsffg.sheet.actor .characteristic-item .characteristic {
    background: #f9f1df;
}

.starwarsffg.sheet.actor .vehicle .characteristic-item .characteristic {
    background: whitesmoke;
}

.starwarsffg .item-display {
    color: darkslategray !important;
}

.starwarsffg .dice-result .roll-failure {
    color: darkorange !important;
}

.starwarsffg .dice-result .roll-success {
    color: greenyellow !important;
}

.starwarsffg .item-display h4 input {
    color: darkgreen;
}

#controls .scene-control.active, 
#controls .control-tool.active, 
#controls .scene-control:hover, 
#controls .control-tool:hover {
    border: 4px solid white !important;
    border-radius: 8px;
	box-shadow: 0 0 10px red !important;
}

#controls .scene-control, 
#controls .control-tool {
	border: 2px solid white !important;
    border-radius: 6px;
}

#navigation #scene-list .scene:hover{
	border: 4px solid white !important;
    border-radius: 8px !important;
}

#navigation #scene-list .scene {
    border: 2px solid white !important;
    border-radius: 6px;
}

#navigation #scene-list .scene.view, 
#navigation #scene-list .scene.context {
	border: 4px solid white !important;
    border-radius: 8px !important;
    box-shadow: 0 0 10px red !important;
	color:white !important;
	text-shadow: 0 0 8px red;
}

#navigation #scene-list .scene.gm:hover{
	border: 4px solid #3a00ae !important;
	border-radius: 8px;
}

#navigation #scene-list .scene.gm {
    background: #130027;
	border: 2px solid #3a00ae;
    border-radius: 6px;
	box-shadow: 0 0 10px #3a00ae;
	color:#c0a2fb;
}


#module-management .package-list .package-title, 
#module-management .package-list .package-metadata, 
#module-management .package-list .package-description {
    color: #ffffff;
}
#client-settings form .notes {
    color: aqua;
}

#client-settings.app.window-app.form 
#config-tabs .settings-list div.form-group input[type="checkbox"] {
    height: 18px;
}

#sidebar {
    background: url(../default-ui/sidebar.png) !important;
    background-position-y: 45px !important;
    border: 3px solid white;
	width:305px;
}

#sidebar-tabs {
    flex: 0 0 32px;
    box-sizing: border-box;
    margin: 0 0 5px;
    border-bottom: 1px solid white;
    box-shadow: 0 0 10px white;
}

#sidebar-tabs > .item {
    position: relative;
    flex: 0 0 27px;
    line-height: 32px;
    border: 1px solid transparent;
    border-radius: 0;
	color:white;
}

#sidebar-tabs > .item.active {
    color: white;
    border: 1px solid white;
    border-bottom: none;
    box-shadow: 0 0 10px inset white;
}

.tabs .item.active {
    text-shadow: 0 0 10px white;
}
#hotbar {
    bottom: 14px;
    left: 220px;
    width: 587px;
    height: 63px;
    border: 4px solid white;
    border-radius: 8px;
}

#hotbar .macro.active:hover {
    border: 1px solid red;
}
#hotbar .macro:hover {
    box-shadow: 0 0 10px aqua inset;
}

#hotbar #macro-list {
    flex: 0 0 503px;
}

#chat-controls .roll-type-select {
    background: rgb(92 92 92 / 80%);
}

#chat-form textarea {
    background: rgb(92 92 92 / 80%) !important;
}

#chat-log .message {
    background: #51504f !important;
}

.chat-message .message-header .message-sender {
    color:white;
}

.chat-message .message-header .message-metadata {
    color: darkseagreen;
}

.chat-message .message-header .flavor-text, .chat-message .message-header .whisper-to {
    color:white;
}
.dice-roll .dice-formula {
    color:aqua;
}
.dice-roll .dice-total {
	color:white;
}
.dice-roll .dice-tooltip {
    color: aqua;
}
.dice-roll .dice-result {
    order: 2;
    color: white;
}
#players {
    position: fixed;
    bottom: 12px;
    left: 15px;
    width: 200px;
    margin: 0;
    padding: 0;
    border: 4px solid white;
    border-radius: 8px;
}

#pause > h3
{
  color: #CCC;
  font-family:Auberesh;
}

#pause > img {
  content: url(../default-ui/pause-icon.png);
  height: 128px;
  width: 128px;
  left: calc(50% - 64px);
}

#tooltip-manager .window-content {
    /* background: url(../ui/parchment.jpg); */
    padding: 0px 10px 10px 10px;
    margin: 0px;
}

#tooltip-editor-default .window-content {
    /* background: url(../ui/parchment.jpg); */
    padding: 0px 10px 10px 10px;
    margin: 0px;
}

#tooltip-editor-default .window-content .notes {
    /* color: #66141a; */
    font-family: var(--actor-input-font-family);
    font-size: var(--actor-input-font-size);
    font-weight: var(--actor-input-font-weight);
}

#tooltip-editor-default .tabs .item {
    color: whitesmoke;
}

.token-tooltip-alt-tooltip-container {
  border: 4px solid white !important;
  border-radius: 8px;
}

.token-tooltip-alt-data-manager-window .data-manager {
  font-family: var(--major-button-font-family);
}

.token-tooltip-alt-advanced-editor-window .advanced-editor {
  font-family: var(--major-button-font-family);
}
.token-tooltip-alt-tooltip-container.default .token-tooltip-alt-tooltip-item.title {
  border-bottom: 3px solid white !important;
}

#destiny-tracker .window-content {
    background: transparent !important;
    border: none;
}

#logo {
  content : url("../art/ui/logo-foundryVTswffg-ui100x42.png");
  width: 100px;
  height: 42px;
}